{{ define "header" }}
<header>
    <h1>Key Editor</h1>

    <div class="actions">
        <a class="icon-with-label"href="/">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            <span class="label">Cancel</span>
        </a>

        <button id="save">
            <svg class="icon"><use xlink:href="#icon-save"></use></svg>
            Save
        </button>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main class="editor">
    <form method="post" action="/edit">
        <textarea name="content" autofocus>{{ printf "%s" .Raw }}</textarea>
    </form>

    <div id="examples">
        <h2>Examples</h2>
        <details>
            <summary>Single-press key with output</summary>
            <pre>
[h]
label = hello
command = echo Hello</pre>

            <p>When the "h" key is pressed, run <code>echo Hello</code>.</p>
            <p>By default, command output is displayed.</p>
        </details>

        <details>
            <summary>Single-press key without output</summary>
            <pre>
[c]
label = hello
command = curl http://example.com
output = off</pre>

            <p>When the "c" key is pressed, run <code>curl http://example.com</code></p>
            <p>Command output is not shown.</p>
        </details>

        <details>
            <summary>Multi-key sequence</summary>
            <pre>
[hw]
label = hello2
command = echo Hello world</pre>

            <p>When the "h" and "w" keys are pressed in quick succession, run <code>echo Hello world</code>.</p>
        </details>


        <details>
            <summary>Lock/unlock toggle</summary>
            <pre>
[l]
label   = lock
state   = unlocked
command = lock
state   = locked
command = unlock</pre>
            <p>The application provides special commands for enabling and disabling keyboard input.</p>
            <p>When the "l" key is pressed, run <code>lock</code>. The state will change from unlocked to locked.</p>
            <p>When pressed again, run <code>unlock</code> to return to the unlocked state.</p>
        </details>
    </div>
</main>
{{ end }}
