{{ define "header" }}
<header>
    <h1>Key Editor</h1>

    <div class="actions">
        <a id="cancel" class="icon-with-label" href="/">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            <span class="label">Cancel</span>
        </a>

        <button id="save">
            <svg class="icon"><use xlink:href="#icon-save"></use></svg>
            Save
        </button>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main id="editor">
    <form method="post" action="/edit">
        <textarea name="content" autofocus>{{ printf "%s" .Raw }}</textarea>
    </form>

    <div id="sidebar">
        <h2>Options</h2>

        <dl>
            <dt>label</dt>
            <dd>A custom name for the key shown in the browser UI.</dd>

            <dt>command</dt>
            <dd>The command to run when the key is pressed. If used multiple times, the key becomes a toggle.</dd>

            <dt>timeout</dt>
            <dd>Max seconds to wait for command to run. <em>Default: 10</em></dd>

            <dt>output</dt>
            <dd>Display command stdout in browser. <em>Default: on</em></dd>

            <dt>state</dt>
            <dd>Name for a command in a multi-command key. Use multiple times, one per name. The nth state is names the nth command.</dd>

            <dt>confirmation</dt>
            <dd>Play a sound after the command runs. <em>Default: on</em></dd>
        </dl>

        <h2>Examples</h2>
        <details>
            <summary>Single-press key</summary>
            <pre>
[h]
label = hello
command = echo Hello</pre>

            <p>When the "h" key is pressed, run <code>echo</code>.</p>
        </details>

        <details>
            <summary>Group by row</summary>
            <pre>
[--my row name]</pre>
            <p>Subsequent keys will be grouped under the heading "my row name".</p>
        </details>

        <details>
            <summary>Output suppression</summary>
            <pre>
[c]
label = hello
command = curl http://example.com
output = off</pre>

            <p>When the "c" key is pressed, run <code>curl</code> but do not show stdout.</p>
        </details>

        <details>
            <summary>Multi-key sequence</summary>
            <pre>
[hw]
label = hello2
command = echo Hello world</pre>

            <p>When the "h" and "w" keys are pressed in quick succession, run <code>echo</code>.</p>
        </details>


        <details>
            <summary>Lock/unlock toggle</summary>
            <pre>
[l]
label   = lock
state   = unlocked
command = lock
state   = locked
command = unlock</pre>
            <p>When the "l" key is pressed, run <code>lock</code>.</p>
            <p>When pressed again, run <code>unlock</code> to return to the unlocked state.</p>
        </details>

        <details>
            <summary>Custom timeout</summary>
            <pre>
[j]
label = hello3
command = echo Hello world
timeout = 60</pre>

            <p><code>echo</code> has 60 seconds to run before the process is killed.</p>
        </details>
    </div>
</main>
{{ end }}
