{{ define "edit-button" }}
<form class="edit" action="/edit">
    <button type="submit" class="icon-with-label"><svg class="icon"><use xlink:href="#icon-edit"></use></svg> <span class="label">Edit</span></button>
</form>
{{ end }}

{{ define "header" }}
<header>
    <h1>Keys</h1>
    <div id="config">
        <span id="config-sound" class="icon-with-label  {{ if .Keymap.SoundAllowed }}on{{ else }}off{{ end }}"><svg class="icon"><use xlink:href="#icon-speaker"></use></svg> Sound <span class="label">{{ if .Keymap.SoundAllowed }}on{{ else }}off{{ end }}</span></span>
        <span id="config-keyboard" class="icon-with-label  {{ if .KeyboardFound }}on{{ else }}off{{ end }}"><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> Keyboard <span class="label">{{ if .KeyboardFound }}on{{ else }}off{{ end }}</span></span>
        <span id="config-locked" class="icon-with-label {{ if not .KeyboardLocked }}hidden{{ else }}locked{{ end }}"><svg class="icon"><use xlink:href="#icon-lock"></use></svg> Keyboard <span class="label">Locked</span></span>
    </div>

    <div class="actions">
        {{ block "edit-button" . }}{{ end }}
    </div>
</header>

{{ end }}

{{ define "main" }}
<div id="status"></div>
<main>
    <ul id="keys" class="{{ if .KeyboardLocked }}locked{{end}}">
        {{ $rowName := "" }}
        {{range .Keymap.Keys }}
        {{ if ne .Row $rowName }}
        <li class="row-header">{{ .Row }}</li>
        {{ $rowName = .Row }}
        {{ end }}
        <li>
            {{/* Href is relative due to CORS */}}
            <a class="key" data-keypress="{{ .PhysicalKey }}" href="/trigger/{{ .Name }}" {{ if .CanLock }}data-lock-key{{end}}>
                <div class="key-label">{{ .Name }}</div>
                <div class="state">{{ .State }}</div>
                <div class="name icon-with-label"><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> <span class="label">{{ .PhysicalKey }}</span></div>
            </a>
        </li>
        {{- else -}}

        <p>No keys defined. Edit the configuration to create some:</p>

        {{ block "edit-button" . }}{{ end }}

        {{- end  -}}
    </ul>
</main>

<template id="status-message">
    <svg class="icon"><use xlink:href="#"></use></svg>
    <div class="message"></div>
    <a href="#" class="close"><svg class="icon"><use xlink:href="#icon-close"></use></svg></a>
</template>


{{ end }}
