:root {
    --background: #f5f5f5;
    --text: #000;
}

a {
    color: inherit;
    text-decoration: none;
}

a span {
    pointer-events: none;
}

button {
    text-transform: lowercase;
    font-variant-caps: small-caps;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: .85em;
    padding: 0.5em 0.5em;
    border-radius: .5em;
    border: 0;
    background-color: #BEE6CE;
    cursor: pointer;
    color: var(--text);
    transition: background-color 0.25s;
}

button:hover, button:active {
    background-color: #68D89B;
}

code {
    font-family: monospace;
}

details {
    margin-bottom: 1em;
}

details p {
    margin-left: 1em;
}

details p:last-of-type {
    margin-bottom: 0;
}

details summary {
    cursor: pointer;
}

details pre {
    display: inline-block;
    background-color: #ddd;
    border-radius: .5em;
    padding: 0.75em;
    font-size: inherit;
    margin-bottom: -0.25em;
    margin-left: 1em;
}

dl {
    margin-top: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title actions"
        "config config";
    gap: 0.25em;
    background-color: #59656F;
    color: #fff;
    padding: 0.4em 0.75em;
    align-items: start;
    align-items: center;
}

@media (min-width: 420px) {
    header {
        gap: 1em;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "title config actions";
    }
}

header h1 {
    grid-area: title;
    font-size: inherit;
    margin: 0;
}

header #config {
    grid-area: config;
    justify-self: center;
    display: flex;
    gap: 0 1.5em;
}

header #config .label {
    font-variant: small-caps;
}

header #config .on .icon {
    color: #87C09B;
}

header #config .off .icon {
    color: #830B27;
}

header #config .locked .icon {
    color: #FFD166;

}

header #config .icon {
    width: 1.5em;
    height: 1.5em;
}

header .actions {
    justify-self: end;
    display: flex;
    gap: 0 2em;
    grid-area: actions;
}

h2 {
    font-size: 1.25em;
    margin: 2em 0 0.5em 0;
}

h2:first-of-type {
    margin-top: 0;
}

#status {
    padding: 0.75em;
    white-space: pre-line;
    font-family: monospace;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1em;
}

#status:empty {
    margin-bottom: 0;
}

#status.success {
    background-color: #A2E3C4;
}

#status.fail {
    background-color: #FFA987;
}

#status.start {
    background-color: lemonchiffon;
}

#status.locked {
    background-color: purple;
    color: #fff;
}

#status .icon {
    width: 2em;
    height: 2em;
}

#status a {
    color: inherit;
}

html {
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);
    line-height: 1.4;
    font-family: system-ui, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    padding: 0 0.75em;
}

section {
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#cancel .icon {
    margin-top: .1em;
}

#inventory {
    display: flex;
    gap: 1em;
    align-items: center;
    font-variant-caps: small-caps;
}

#inventory select {
    font-size: inherit;
    font-variant-caps: small-caps;
    padding: 0.25em 0.5em;
}

#keys {
    margin: auto;
}

#keys.locked .key:not([data-lock-key]) {
    opacity: .25;
    pointer-events: none;
}

#keys li {
    display: inline-block;
    padding: 0.5em 1em 0.5em 0;
}

#keys li:last-of-type {
    padding-right: 0;
}

#keys li.row-header {
    display: block;
    text-transform: lowercase;
    font-variant-caps: small-caps;
    opacity: .5;
    padding: 2em 0 0 0.25em;
}

#keys .key {
    display: grid;
    height: 6em;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    align-items: end;
    background-color: #ddd;
    border-radius: .75em;
    box-shadow: 2px 2px 2px 0 #333;
    padding: 0.25em 0.75em;
    box-sizing: border-box;
    transition: background-color 0.25s;
    gap: 0 1em;
}

#keys .key:hover {
    background-color: #ccc;
}

#keys .key:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0 0 #333;
}

#keys .key > * {
    pointer-events: none;
}

#keys .key .key-label {
    grid-column: 1 / -1;
    font-weight: bold;
    align-self: start;
    font-size: 1.75em;
}

#keys .key .name {
    justify-self: end;
}

#keys .key .name .icon {
    align-self: end;
}

#keys .key .state {
    text-transform: uppercase;
    font-size: .85em;
    font-style: italic;
}

#editor {
    display: grid;
    align-items: start;
    gap: 2em;
}

#editor form {
    background-color: var(--background);
    position: sticky;
    top: 2.5em;
    margin: -0.75em;
    padding: 0.75em;
    padding-top: 1em;
    padding-bottom: 0;
}

@media (min-width: 420px) {
    #editor {
        gap: 1em;
        grid-template-areas: "form sidebar"
            "form sidebar";
        grid-template-columns: auto 30%;
        align-items: start;
    }

    #editor form {
        grid-area: form;
        top: 2.25em;
        padding-top: 1.5em;
    }

    #editor #sidebar {
        grid-area: sidebar;
        padding: 1em;
    }

    #editor textarea {
        height: calc(100dvh - 5em);
    }
}


#editor textarea {
    font-size: inherit;
    font-family: monospace;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    height: 20em;
}

@media (min-width: 420px) {
    #editor textarea {
        height: calc(100dvh - 5em);
    }
}

#editor dt {
    font-weight: bold;
}

#editor dt:not(:first-of-type) {
    margin-top: 1em;
}

#editor dd {
    margin-left: 0;
}

#editor dd em {
    white-space: no-wrap;
}

.focus-candidate {
    outline: 0;
    background-color: #044B7F;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    padding: .25em;
}

.hash-focus-candidate:focus {
    outline: 0;
    background-color: #044B7F;
    color: #fff;
    border-bottom-color: transparent;
    text-decoration: none;
    padding: .25em;
}

.hidden {
    display: none !important;
}

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    pointer-events: none;
}

.icon-with-label {
    display: inline-flex;
    gap: 0 0.25em;
    align-items: center;
}

@media (min-width: 1440px) {
    body {
        line-height: 1.2;
        font-size: 18px;
    }

    main {
        gap: 6em;
    }

    button {
        font-size: 1em;
    }
}
