[Unit]
Description=Keys
After=network.target

[Service]
Type=simple
WorkingDirectory={{ .WorkingDirectory }}
ExecStart={{ .ExecStart }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
