{{ define "header" }}
<header>
    <h1>Key Editor</h1>

    <div class="actions">
        <a class="icon-with-label"href="/">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            <span class="label">Cancel</span>
        </a>

        <button id="save">
            <svg class="icon"><use xlink:href="#icon-save"></use></svg>
            Save
        </button>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main class="editor">
    <form method="post" action="/edit">
        <textarea name="content" autofocus>{{ printf "%s" .Raw }}</textarea>
    </form>
</main>
{{ end }}
