{{ define "edit-button" }}
<form class="edit" action="/edit">
    <button type="submit" class="icon-with-label"><svg class="icon"><use xlink:href="#icon-edit"></use></svg> <span class="label">Edit</span></button>
</form>
{{ end }}

{{ define "header" }}
<header>
    <h1>Keys</h1>
    <div id="config">
        <span class="icon-with-label"><svg class="icon"><use xlink:href="#icon-speaker"></use></svg> Sound <span class="label">{{ if .SoundAllowed }}on{{ else }}off{{ end }}</span></span>
        <span class="icon-with-label"><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> Keyboard <span class="label">{{ if .KeyboardFound }}on{{ else }}off{{ end }}</span></span>
    </div>

    <div class="actions">
        {{ block "edit-button" . }}{{ end }}
    </div>
</header>

{{ end }}

{{ define "main" }}
<div id="status"></div>
<main>
    <ul id="keys">
        {{range .Keymap.Keys }}
        <li>
            <a class="key" data-keypress="{{ .Name }}" href="{{ $.RelativeTriggerUrl .Name }}">
                <div class="key-label">{{ .Label }}</div>
                <div class="state">{{ .CurrentState }}</div>
                <div class="name icon-with-label"><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> <span class="label">{{ .Name }}</span></div>
            </a>
        </li>
        {{- else -}}

        <p>No keys defined. Edit the configuration to create some:</p>

        {{ block "edit-button" . }}{{ end }}

        {{- end  -}}
    </ul>
</main>
{{ end }}
