{{ define "header" }}
<header>
    <h1>Keys</h1>

    <form action="/edit">
        <button type="submit"><svg class="icon"><use xlink:href="#icon-edit"></use></svg> Edit</button>
    </form>
</header>

{{ end }}

{{ define "main" }}
<div id="status"></div>
<main>
    <ul id="keys">
        {{range .Keymap.Keys }}
        <li>
            <a class="key" data-keypress="{{ .Name }}" href="{{ $.RelativeTriggerUrl .Name }}" title="{{ .Note }}">
                <span class="name">{{ .Name }}</span>
                <span class="state">{{ .CurrentState }}</span>
                <span class="label">{{ .Label }}</span>
            </a>
        </li>
        {{- end  -}}
    </ul>
</main>
{{ end }}
