{{ define "edit-button" }}
<form class="edit" action="/edit">
    <button type="submit"><svg class="icon"><use xlink:href="#icon-edit"></use></svg> Edit</button>
</form>
{{ end }}

{{ define "header" }}
<header>
    <h1>Keys</h1>
    <div id="config">
        <span><svg class="icon"><use xlink:href="#icon-speaker"></use></svg> Sound <span class="state">{{ if .SoundAllowed }}on{{ else }}off{{ end }}</span></span>
        <span><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> Keyboard <span class="state">{{ if .KeyboardFound }}on{{ else }}off{{ end }}</span></span>
    </div>
    {{ block "edit-button" . }}{{ end }}
</header>

{{ end }}

{{ define "main" }}
<div id="status"></div>
<main>
    <ul id="keys">
        {{range .Keymap.Keys }}
        <li>
            <a class="key" data-keypress="{{ .Name }}" href="{{ $.RelativeTriggerUrl .Name }}">
                <div class="label">{{ .Label }}</div>
                <div class="state">{{ .CurrentState }}</div>
                <div class="name"><svg class="icon"><use xlink:href="#icon-keyboard"></use></svg> {{ .Name }}</div>
            </a>
        </li>
        {{- else -}}

        No keys defined. Edit the configuration to create some:

        {{ block "edit-button" . }}{{ end }}

        {{- end  -}}
    </ul>
</main>
{{ end }}
